.wrapper {
  background: #e6c896 url('../img/bg/my_pattern.png') 50% 50% repeat;
}

.sticky {
  position: absolute;
  top: 44px;
  right: -65px;
  background: transparent url('../img/secret.png') 50% 50% no-repeat;
  width: 252px;
  height: 115px;
}
.title {
	color: #2f1b15;
	font-size: 0;
	background: url('../img/delo.png') 50% 50% no-repeat;
	width: 228px;
	height: 113px;
	margin: auto;
	margin-bottom: 50px;
}
.page-form p {
	margin-bottom: 28px;
}
.page-form__box {
	display: flex;
	align-items: flex-end;
	// margin-bottom: 10px;
	label {
		font-size: 22px;
		// line-height: 49px;
		font-weight: 700;
		color: #2f1b15;
		// margin-top: 10px;
	}
}
.page-form__input {
	margin-left: 15px;
	position: relative;
	flex-grow: 1;
	input {
		font-size: 30px;
		font-weight: 400;
		line-height: 30px;
		font-family: 'PT Serif', serif;
		padding: 13px 20px 13px 20px;
		width: 100%;
	}
}
.page-form__input:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 6px;
	background-size: cover;
	background: url('../img/bg/border.png') 100% 50% no-repeat;
}
.subtitle {
	margin-bottom: 10px;
	display: block;
	font-weight: bold;
	font-size: 24px;
	color: #2f1b15;
}
.checked-wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
}
.checked-wrap__item {
	width: 30%;

}

.checked-wrap__checkbox-box {
	display: flex;
	justify-content: space-between;
	label {
		padding-left: 30px;
		margin-bottom: 12px;
	}
	label, sub {
		font-size: 21px;
		font-weight: 700;
	}
	a {
		color: #1f5f97;
		border-bottom: 1px solid #1f5f97;
	}
}

.level-js {
	margin-bottom: 35px;
	.subtitle {
		margin-bottom: 40px;
	}
}
@mixin rangeThumb {
  width: 17px;
  height: 14px;
  margin: -25px 0  0;
  // border-radius: 50%;
  // background: #37adbf;
  background:url('../img/icons/down.png') no-repeat;
  cursor: pointer;
  border: 0 !important;
}

@mixin rangeTrack {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: url('../img/bg/range.png') 100% 50% no-repeat;
}

.range {
  position: relative;
  // width: 550px;
  // height: 10px;
  // background: url('../img/bg/range.png') 100% 50% no-repeat;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;

  // Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none; // needed again for Chrome & Safari
    @include rangeThumb;
  }

  &::-moz-range-thumb {
    @include rangeThumb;
  }

  &::-ms-thumb {
    @include rangeThumb;
  }

  // Track
  &::-webkit-slider-runnable-track {
    @include rangeTrack;
  }

  &::-moz-range-track {
    @include rangeTrack;
  }

  &::-ms-track {
    @include rangeTrack;
  }

  &:focus { // override outline/background on focus
    background: none;
    outline: none;
  }

  &::-ms-track { // A little somethin' somethin' for IE
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

// Labels below slider
.range-labels {
	display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  
  li {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    // text-align: center;
    color: $brown;
    font-size: 13px;
    font-weight: bold;
    padding-top: 30px;
    cursor: pointer;
    
    &::before {
    position: absolute;
    bottom: 34px;
    left: 0;
    content: "";
    width: 3px;
    height: 12px;
    background: $brown;
    // transform: translateX(-50%);
    }
  }

  li:first-child::before {
    position: absolute;
    bottom: 34px;
    left: 0;
    content: "";
    width: 3px;
    height: 12px;
    background: $brown;
    transform: translateX(-50%); 
    display: none; 	
  }
  li:last-child::before {
    position: absolute;
    bottom: 34px;
    left: 0;
    content: "";
    width: 3px;
    height: 12px;
    background: $brown;
    transform: translateX(-50%); 
    display: none; 	
  }
  // .active {
  //   color: $brown;
  // }
  
  // .selected::before {
  //   background: #37adbf;
  // }
  
  // .active.selected::before {
  //   display: none;
  // }
}
// .range-labels {
// 	position: relative;
// }
.range-labels::before {
  	position: absolute;
    bottom: 27px;
    left: 2px;
    content: "";
    width: 3px;
    height: 19px;
    background: $brown;
  }
.range-labels::after {
  	position: absolute;
    bottom: 27px;
    right: 0;
    content: "";
    width: 3px;
    height: 19px;
    background: $brown;
}
