.wrapper {
  background: #e6c896 url('../img/bg/my_pattern.png') 50% 50% repeat;
}

.sticky {
  position: absolute;
  top: 47px;
  right: 52px;
  background: transparent url('../img/secret.png') 50% 50% no-repeat;
  width: 252px;
  height: 115px;
}
